:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 3s;
    --typewriterCharacters: 35;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: var(--bg-color);
}

ul {
    padding: 0;
}

header {
    transition: 0.6s;
    /* background-color: cornflowerblue; */
    background-color: black;
    position: fixed;
    /* display: flex; */
    top: 0;
    right: 0;
    left: 0;
}

.scrolled {
    transition: 0.6s;
    padding: 0.5rem 0.5rem;
    background-color: rgb(56, 56, 56);
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 80%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    /* rem is relative unit */
    color: aliceblue;
    padding: 0 2rem;
}

.nav_menu {
    display: inline-block;
    padding: 0 1.25rem;
}

.nav_menu a {
    text-decoration: none;
    color: aliceblue;
    /* font-size: 1rem; */
}

.nav_menu:hover {
    text-decoration: underline;
}

.nav-toggle {
    display: none;
    /* position: absolute; */
    top: 1.5rem;
    right: 1rem;
}

.nav-toggle img {
    vertical-align: middle;
}

.open {
    height: 100vh;
    /* vh: 100% of the vertical size of the window */
}

.hidden {
    display: none;
}

.content {
    /* display: block; */
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    /* height: 100vh; */
    /* outline: 2px solid red; */
    scroll-margin-top: 84px;
    padding: 0rem 5rem;
    margin-top: 5rem;
    font-family: "Source Code Pro", monospace;
}

.content h2 {
    margin-top: 0;
}

.bitmoji {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    height: 15rem;
}

.contact_logo {
    width: 24px;
    height: 24px;
    /* padding-top: 0px; */
    padding: 0.5rem;
    border-radius: 2rem;
    border: 0.25rem solid hsl(49 37% 94%);
    ;
}

.contact_logo:hover {
    transition: 0.5s;
    border: 0.25rem solid black;
}

.home {
    height: 80vh;
    text-align: center;
    place-content: center;
}

.about {
    padding: 5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.experience {
    padding: 5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.subtext {
    font-size: 1rem;
    color: rgb(122, 122, 122);
}

.subtext_projects {
    font-size: 1rem;
    padding: none;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: rgb(122, 122, 122);
}

.table-row {
    margin: 2rem;
}

.label-div {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.content-table {
    height: 100%;
}

.content-table label {
    float: left
}

.content-table span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}

.content-table span p ul li {
    list-style-type: circle;
}

.content-table input {
    width: 100%
}

.projects {
    padding: 5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.contact {
    padding: 5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.accordion {
    background-color: rgb(238, 231, 204);
    /* color: #444; */
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.4rem;
    transition: 0.4s;
    box-shadow: 0.5rem 1px 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
}

.active,
.accordion:hover {
    background-color: rgb(236, 222, 165);
}

.accordion:after {
    content: '\002B';
    /* color: #777; */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 2rem;
    font-size: 1.3rem;
    height: 100%;
    background-color: rgb(238, 231, 204);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.skill {
    display: inline-flex;
    height: 1rem;
    /* width:50px; */
    word-wrap: break-word;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
    padding: 1rem;
    /* background-color: rgb(236, 222, 165); */
    background-color: hsl(49 37% 94%);
    border: 0.15rem solid black;
    margin: 0.25rem;
}

.skill:hover {
    background-color: rgb(236, 222, 165);
    transition: 0.2s;
}

.projectsDiv {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.imageLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    min-height: 230px;
    margin: 2rem;
    /* position: relative; */
    border-radius: 2rem;
    background-color: rgb(236, 222, 165);
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 50%);
    /* background-color: blue; */
}

.imageLabel:hover {
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 80%);
    transition: ease-in-out 0.2s;
}

.textLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    width: 60%;
}

.textLabel ul {
    margin-top: 0rem;
}

.project_tag {
    display: inline-flex;
    height: 1rem;
    /* width:50px; */
    font-size: 0.8rem;
    word-wrap: break-word;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* background-color: rgb(236, 222, 165); */
    background-color: hsl(49 37% 94%);
    border: 0.1rem solid black;
    margin-bottom: 0.25rem;
}

.project_tag:hover {
    background-color: rgb(236, 222, 165);
    transition: 0.2s;
}

.business-card {
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    /* width: 50%; */
    /* min-width: 50%; */
    max-width: 40%;
    border: 3px solid black;
    padding: 10px;
    height: 100%;
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 50%);
    word-wrap: break-all;
}

.business-card:hover {
    transition: ease-in-out 0.5s;
    box-shadow: 0 0 3rem 0 rgb(0 0 0 / 90%);
}

.imageDiv {
    float: left;
    margin: 1rem;
    /* padding: 1rem; */
}

.textDiv {
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}

.footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding: 2rem;
    font-family: "Source Code Pro", monospace;
}

.footerDiv {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

@media all and (max-width: 1200px) {
    .business-card {
        text-align: left;
        flex-direction: column;
    }

    .imageDiv {
        margin: 1rem;
        padding: 1rem;
    }
}

@media all and (max-width: 790px) {
    .navbar {
        flex-direction: column;
        /* position: absolute; */
        /* top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        /* align-items: flex-start; */
    }

    h2 {
        text-align: center;
    }

    nav {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }

    .nav_menu {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
    }

    .nav_menu a {
        font-size: 1.4rem;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }

    .content {
        text-align: center;
        padding: 0rem 2rem;
        height: 100%;
    }

    .bitmoji {
        padding-top: 5rem;
    }

    .panel {
        text-align: left;
        flex-direction: column;
    }

    .content-table {
        text-align: left;
        flex-direction: column;
    }

    .content-table label {
        display: block;
        float: none;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .label-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-table span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px
    }

    .business-card {
        text-align: left;
        flex-direction: column;
        max-width: none;
        /* word-break: break-all; */
    }

    .imageDiv {
        margin: 1rem;
        padding: 1rem;
    }

    .projectsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imageLabel {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        background-color: rgb(238, 231, 204);
    }

    .imageLabel:hover {
        box-shadow: none;
    }

    .textLabel {
        width: 100%;
        /* justify-content: center;
        align-items: center; */
        /* margin: 0px; */
    }

    .contactDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
}